.headForm{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    box-sizing: border-box;
    margin-top: 30rem;
    border: 0.2rem solid rgb(250,250,250);
    box-shadow: 0 0 3rem rgba(40, 139, 196, 0.37);
    /* animation: toTop 1s ease-out; */
    border-radius: 10rem;
}


.uder_idText{
    position: relative;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-weight: 400;
    font-size: 4rem;
    padding: 0.5rem;
    border-radius: 10rem;
    gap: 2rem;
    animation: toRight 1s ease-out;
    & input {
        border-radius: 10rem;
        background-color: rgb(206, 215, 221);
        color: rgba(214, 96, 96, 0.788);
        font-size: 3rem;
        text-align: center;
    
      }
    }

    @keyframes toRight {
        0% {
          transform: translateX(-1rem);
          opacity: 0;
        }
      
        60% {
          transform: translateX(1rem);
        }
      
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes toTop {
        0% {
          transform: translate(-50%, -50%) translateY(-100rem);
          opacity: 0;
        }
      
        60% {
          transform: translate(-50%, -50%) translateY(0.1rem);
        }
      
        100% {
          opacity: 1;
          transform: translate(-50%, -50%) translateY(0);
        }
      }
    


.btnSubmitUpdate{
    position:relative;
    display: block;
    margin: 1rem auto 1rem auto;
    font-family: sans-serif;
    border: 0.2rem solid black;
    font-size: 4rem;
    box-shadow: 0 0 3rem rgb(250, 26, 26);
    border-radius: 100rem;
    transition: all 0.2s;
    text-align: center;

    &:hover{
        transform: translateY(-0.2rem) scale(1.05);
        color: rgb(0, 0, 0);
        
    }

    &:active{
        transform: translateY(-0.1rem);
    }
}

.errMessage{
    color: red;
    display: block;
    position:relative;
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    border: 1rem solid red;
    border-radius: 10rem;
    width: fit-content;
    margin: 1rem auto;
}

.successMessage{
    color: rgb(0, 255, 98);
    display: block;
    position:relative;
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    border: 1rem solid rgb(21, 255, 0);
    border-radius: 10rem;
    width: fit-content;
    margin: 1rem auto;
}