//color

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey-dark: #777;
$color-red: #f50000;
$color-balck: #000;
$color-gray-light-1:#c7c2c2;
//grid
$grid-width: 114rem;

//אֲנָכִי
$gutter-vertical: 8rem;

// אופקי
$gutter-horizontal: 6rem;
