//color

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey-dark: #777;
$color-red: #f50000;
$color-black: #000;
$color-gray-light-1: #c7c2c2;
$color-secondary-light: #ffb990;
$color-secondary-light-2: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-light-2: #5643fa;
//grid
$grid-width: 114rem;

//אֲנָכִי
$gutter-vertical: 8rem;

// אופקי
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
