*,
*::before,
*::after {
  top: 0;
  left: 0;
  box-sizing: inherit;
}

html {
  //מגדיר כמה אורך יהיה 1 rem
  font-size: 66.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

.darkmode {
  background-color: rgba(73, 77, 72, 0.356);
  color: white;
}

.whitemode {
  background-color: white;
  color: black;
}
