.headPrimary {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__text_Box {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
  }
  &__header_Main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: toRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

    &__buttom_Head {
      display: block;
      font-size: 2rem;
      font-weight: 40rem;
      letter-spacing: 1.74rem;
      animation: toLeft 1.5s ease-out;
    }
  }
}

.heading_secondery{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text; ///* הרקע חתוך לפי צורת הטקסט (כרום / ספארי) */
  color: transparent; ///* הטקסט עצמו שקוף, רואים רק את הרקע שבפנים */
  letter-spacing: .2rem;
  transition: all .2s;
  &:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0 1rem 2rem rgba($color-balck, 0.2);
  }
}


.heading_tertiary{
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: 1.6rem;
  margin-bottom: 3rem;
}