.row {
  max-width: $grid-width;
  margin: 0 auto;

  // ריווח בין קלאס לקלאס
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  //^ - בוחר את כל הקלאסים שיש להם בהתחלה בשם שנעשה אליו שווה
  // In CSS Modules, class names are locally scoped, so selectors like [class^="col"] will NOT target your rendered class names.
  // Instead, you must write explicit class rules for each column type.
  // If you need to reuse styles, use Sass placeholders or mixins.

  [class^="col"] {
    float: left;

    // Space columns except the last
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col_1_of_2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
  .col_1_of_3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
  .col_2_of_3 {
    //כי האורך הוא 2 פעמים מהקופסאות מעליו פלוס הרווח שיש בינהם
    //section 5 class  34 33:01
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }
  .col_1_of_4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }
  .col_2_of_4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }
  .col_3_of_4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
    );
  }
}
