@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes toButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::before,
*::after {
  top: 0;
  left: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

.darkmode {
  background-color: rgba(73, 77, 72, 0.356);
  color: white;
}

.whitemode {
  background-color: white;
  color: black;
}

.headPrimary {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.headPrimary__text_Box {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.headPrimary__header_Main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: toRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
.headPrimary__header_Main__buttom_Head {
  display: block;
  font-size: 2rem;
  font-weight: 40rem;
  letter-spacing: 1.74rem;
  animation: toLeft 1.5s ease-out;
}

.heading_secondery {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading_secondery:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading_tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.paragraph {
  margin: 0;
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u_center_text {
  text-align: center;
}

.u_margin_buttom_3 {
  margin-bottom: 3rem;
}

.u_margin_buttom_8 {
  margin-bottom: 8rem;
}

.u_margin_top_huge {
  margin-top: 15rem;
}

.section_about {
  background-color: #c7c2c2;
  padding: 25rem 0;
  margin-top: -10vh;
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 95%);
}

.section_features {
  padding: 25rem 0;
  position: relative;
  background-image: linear-gradient(to right, rgba(123, 42, 87, 0.73), rgba(40, 180, 133, 0.54)), url("../../assets/nat_4.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  transform: skewY(-7deg);
}
.section_features > * {
  transform: skewY(7deg);
}

.section_tours {
  background-color: #c7c2c2;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
}
.btn:hover {
  transform: translateY(-0.3rem);
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn__White {
  background-color: #fff;
  color: #777;
}
.btn__White::after {
  background-color: #fff;
}
.btn__green {
  background-color: #28b485;
  color: #fff;
}
.btn__green::after {
  background-color: #28b485;
}
.btn__Animated {
  animation: toButtom 0.5s ease-out 0.3s;
  animation-fill-mode: backwards;
}

.btn-text:visited, .btn-text:link {
  font-size: 1.6rem;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border: 0.1rem solid #28b485;
  padding: 0.5rem;
  border-radius: 10rem;
}
.btn-text:hover {
  background-color: #28b485;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  filter: blur(0.3rem);
  transition: all 0.3s;
  outline-offset: 0.5rem;
}
.composition__photo--p1 {
  top: -5rem;
  left: 0;
}
.composition__photo--p2 {
  top: 10rem;
  left: 5rem;
}
.composition__photo--p3 {
  top: 25rem;
  left: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #28b485;
  filter: none;
  transform: scaleX(1.1) scaleY(1.1);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95) translateY(-0.5rem);
}

.feature_box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
.feature_box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.feature_box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature_box__text {
  text-transform: uppercase;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 60rem;
}
.card__side {
  height: 60rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb990, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #55c57a, #7ed56f);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 50%;
  background-blend-mode: color;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb990, #ff7730), url("../../assets/nat-5.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #55c57a, #7ed56f), url("../../assets/nat-6.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../assets/nat-7.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.card__heading {
  position: absolute;
  top: 12rem;
  left: 8rem;
  text-align: right;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 144, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(126, 213, 111, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details ul {
  list-style: none;
  width: 70%;
  margin: 0 3rem;
}
.card__details ul li {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 0.1rem solid #777;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-weight: 100;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-weight: 100;
  font-size: 6rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.912), rgba(40, 180, 133, 0.327)), url("../../assets/nature.png");
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.header__logo_Box {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.header__logo {
  height: 3.5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col] {
  float: left;
}
.row [class^=col]:not(:last-child) {
  margin-right: 6rem;
}
.row .col_1_of_2 {
  width: calc((100% - 6rem) / 2);
}
.row .col_1_of_3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col_2_of_3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col_1_of_4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col_2_of_4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col_3_of_4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

/*# sourceMappingURL=Home.css.map */
