.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-balck, 0.4);
    border-radius: 10rem;
    filter: blur(0.3rem);
    transition: all 0.3s;
    outline-offset: 0.5rem;

    &--p1 {
      top: -5rem;
      left: 0;
    }
    &--p2 {
      top: 10rem;
      left: 5rem;
    }
    &--p3 {
      top: 25rem;
      left: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary-dark;
      filter: none;
      transform: scaleX(1.1) scaleY(1.1);
      box-shadow: 0 2.5rem 4rem rgba($color-balck, 0.4);
      z-index: 1;
    }
  }

  // When any .composition__photo is hovered, scale down the others
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
