.mainPage{
    position: absolute;
    display: block;
    height: 95vh;
    background-size: cover;
    position: relative;
    /* Remove trailing commas, fix path for dev-server and prod (try ../assets/background.jpeg or /assets/background.jpeg if needed) */
    background-image: 
        linear-gradient(
            to right,
            rgba(26, 59, 206, 0.116), 
            rgba(46, 161, 26, 0.103)
        ),
        url("../../assets/background.jpeg");
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.header{
    position:relative;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 10rem;
    color:white;
    border-bottom: 1rem solid black;
    border: 1rem solid rgb(0, 98, 255);
    border-radius: 100rem;
    box-shadow: 0 0 5rem rgb(0, 28, 235);
    width: fit-content;
    min-width: 60rem;

}